    @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    body {
        font-family: "Open Sans";
    }
    
    h1 {
        font-family: "Luckiest Guy";
        color: #fff;
    }