@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans";
}
    
h1 {
    font-size: 2rem;
    font-family: "Luckiest Guy";
}

h2 {
    font-size: 1.8rem;
    font-weight: 800;
    color: #23272A;
}

p {
    font-size: 1rem;
    line-height: 20px;
}

button {
    font-size: 0.9rem;
}