@import url(../css/global.css);

header {
    background-image: url("../images/background-header.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
    width: 100vw;
}
#container-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    color: #fff;
}
#container-header p {  
    max-width: 330px;
}
#container-header .button-header {
    width: 20rem;
    padding: 10px;
    border-radius: 28px;
}
#container-header #download {
    background: #fff;
}
#container-header #browser {
    background: #23272a;
    color: #fff;
}
.section-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: 25px;
}
.section-container picture {
    max-width: 400px;
    align-self: center
}
picture img {
    max-width: 100%;
}
.section-container-01 {
    background: #fff;
}
.section-container-02 {
    background: #f6f6f6;
}
.section-container h1 {
    color: #23272a;
}
footer {
    background: #23272A;
    padding: 50px;
    text-align: center;
}