@import url(../css/global.css);

body {
    display: flex;
    flex-direction: column;
}
header {
    background-image: url("../images/background-header.png");
    background-size: cover;
    background-position: center;
}
#container-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 16px;
}
#container-header h1{
    font-size: 1.5rem;
    margin-top: 10px;
}
#container-header p {  
    margin-bottom: 16px; 
    width: 305px;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
}
#container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-size: 0.8rem;
}
#container-buttons .button-header {
    width: 380px;
    padding: 10px;
    border-radius: 28px;
}
#container-buttons #download {
    background: #fff;
}
#container-buttons #browser {
    background: #23272a;
    color: #fff;
    margin-bottom: 10px;
}